.btn-margin{
	margin-right: 5px !important;
}
.jumbotron{
	margin-top: 20px;
}

.section-footer{
	padding: 20px;
	margin-top: 30px;
}
.card{
	margin-bottom: 20px;
}

.card-margin{
	margin-bottom: 20px;
}

.men-footer{
	margin-top: 10px;
}

.card{
	margin:auto;
}